.section-package-details{
    box-sizing: border-box;
    width: 100%;
    margin-top: 220px;
    padding: 0 30px;
  }
  .flex-container-with-text-aligned-start {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .section-heading {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 552px;
    padding: 0;
    margin: 0;
    font: 700 18px Arimo, sans-serif;
    color: #5b5b5b;
    text-transform: uppercase;
  }
  .restaurant-info-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 1.25px;
    align-items: center;
    justify-content: flex-start;
    
     
  }
   
  .restaurant-heading {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 700 18px Arimo, sans-serif;
    color: #5b5b5b;
    text-transform: uppercase;
  }
  .meal-description-block {
    padding-left: 552px;
    margin-top: 20px;
  }
  .elegant-text-block {
    box-sizing: border-box;
    /* max-width: 830px; */
    padding: 0;
    margin: 0;
    font: 600 36px/40px "Playfair Display", serif;
    color: white;
    text-align: justify;
  }
  .meal-description-block_img{
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    padding: 0;
    margin: 0;
    background-color: #424242;
    border-radius: 20px;
    margin-top: 20px;
  }