 
      .partner-section-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 0 30px;
        margin-top: 220px;
      }
      .flex-container-row-aligned {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .section-title-style1 {
        padding: 0;
        margin: 0;
        font: 500 16px/17.5px Geist;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        white-space: pre-wrap;
      }
      .section-title-style {
        margin-top: 10px;
      }
      .section-title-style1:first-child {
        margin-top: 0px;
      }
      .section-title-container0 {
        width: 276px;
      }
      .section-title-container {
        flex: 0 0 auto;
        width: 276px;
      }
      .section-title-style1:last-child {
        padding-right: 20px;
      }
      .section-title-container1 {
        flex: 0 0 auto;
        
      }
      .partner-heading-text-style {
        padding: 0;
        margin: 0;
        font: 500 16px/17.5px Geist;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
      }
      .boxy-image {
        box-sizing: border-box;
        display: block;
        width: 100px;
        max-width: initial;
        height: 43px;
      }
      .image-with-margin {
        box-sizing: border-box;
        display: block;
        width: 140px;
        max-width: initial;
        height: 36px;
        margin-left: 26px;
      }